.image-slider .slider-content {
    height: 700px !important;
    overflow: hidden;
}
.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    background-color: rgb(219, 219, 219) !important;
    padding: 2rem 1rem;
}
.swiper-button-next {
    margin-right: 0px !important;
}
.swiper-button-prev {
    margin-left: 0px !important;
}
.slider-nav-buttons {
    z-index: 100;
    margin-top: -5%;
}
.slider-nav-buttons > div {
    font-size: 50px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(202, 201, 201);
    padding: 1.5rem 0rem;
}
.color-white {
    color: #fff !important;
}
.main-slider-text {
    font-size: 10vmin;
    font-weight: 900;
    margin:0px 20px;
}
.category-banner-home .each-section > div:last-child {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.737114914325105) 0%, rgba(255, 255, 255, 0) 100%);
}
.category-banner-home .each-section .shopnow-button {
    color: #cebd9c;
    cursor: pointer;
    letter-spacing: 1px;
}
.category-banner-home .each-section:hover .shopnow-button {
    animation: showShopButton 0.5s ease forwards;
}
.category-banner-home .each-section:hover img {
    transform: scale(1.1);
    transition: all;
    transition-duration: 1s;
}
.testimonials {
    background: #f3ead8;
}
.testimonials .slider-content {
    height: 300px;
}
.testimonials .slider-content > div {
    width: 600px !important;
}
.ls-1 {
    letter-spacing: 1px !important;
}
.testimonials .user-designation {
    color: #74706b;
}
.testimonials .testimonial-content {
    font-weight: 600;
}
.fs-7 {
    font-size: 0.9rem !important;
}
.bg-main-button {
    background-color: #292621 !important;
    color: #fff;
}
.testimonials .slider-nav-buttons > div {
    background: transparent;
    color: #d8cfc3;
    /* font-weight: 900; */
}
.delivery-banner {
    background: #f6f6f6;
}

@keyframes showShopButton {
    0% {
        letter-spacing: 1px;
    }
    100% {
        display: block;
        letter-spacing: 2px;
    }
}
.view_all{
    display: inline-flex;
    float:right;
    font-size:3vmin;
}
/*  */
